*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=PT+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
body {
    background-color: #121212;
    color: #fff;
}

.bg-dark {
    background-color: rgb(14,14,14);
}

.btn-dark {
    background-color: rgb(14,14,14);
    border: none;
}
.font{
   
}

button {
    padding: 10px 0;
}

img {
    height: 6rem;
}
#divide{
    height: 4rem;
    padding-left: 1rem;
}
button{
    border-radius: 50px;
}
/* button:hover{
    border: 2px solid white;
    z-index: 1;
} */
.btn:hover{
    border-color: unset;
    border: 2px solid white;
    z-index: 1;
}
.text{
    color:#6c757d;
}
.container{
    border: 3px solid rgb(94, 92, 121);
}
img{
    transform: skewY(8deg);
}
@media only screen and (max-width:380px) and (min-width:346px) {
    .btn {
      font-size: 13px; /* Adjust the font size */
    }
  }
  @media only screen and (max-width:346px) and (min-width:320px) {
    .btn {
      font-size: 10px; /* Adjust the font size */
      font-weight: 600;
    }
  }
@media (max-width:320px) {

      .btn {
      font-size: 8.5px; /* Adjust the font size */
      font-weight:600;
    }
}
@media (max-width:520px) {
  .btn:hover{
    font-size: 15px;
  }
}
